.subtitle {
  font-size:30px;
  font-style:italic;
  margin-bottom:50px;
}

.picture {
    margin:100px 0px 50px 0px;
    width:80%;
}

.main-story {
  width:80%;
  margin:100px auto 0px auto;
  text-align:left;
  letter-spacing:0.5px;
}

/* modified from this tutorial:
https://www.w3schools.com/howto/howto_js_full_page_tabs.asp */

.tab-link {
  float:left;
  border:none;
  outline:none;
  cursor:pointer;
  padding:5px;
  width:auto;
  margin-right:10px;
  background:none;

  font-size:16px;
  font-family:'Cormorant Garamond';
  letter-spacing:2px;
  text-align:center;
  color:#FFF;
  border-bottom:1px solid #FFF;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
}

.tab-content {
  display:none;
  padding-top:50px;
}

.tab-content p {
  line-height:130%;
  font-size:20px;
}

.default-tab {
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.tab-link:hover, .tab-link:focus, .tab-link:active {
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

h3 {
  font-size:40px;
}